<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Click2Hear</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <script type="text/javascript" src="{{ url_for('static', filename='js/plyr.js') }}"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.plyr.io/3.7.8/plyr.js"></script>
    <!-- <link rel="stylesheet" href="https://unpkg.com/wavesurfer.js/dist/wavesurfer.min.css"> -->
    <script src="https://unpkg.com/wavesurfer.js/dist/wavesurfer.min.js"></script>
  </head>
  <body>
    
    <nav class="bg-gray-500" style="position: fixed; top: 0; width: 100%; z-index: 100;">
      <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
        <div class="relative flex items-center justify-between h-16">
          <div class="absolute inset-y-0 left-0 flex items-center">
            <a href="/"
              class="text-gray-300 hover:bg-gray-500 hover:text-white px-3 py-2 rounded-md text-md font-bold">Home</a>
          </div>
          <div class="absolute inset-y-0 right-0 flex items-center">
            <a href="/SOP"
              class="text-gray-300 hover:bg-gray-500 hover:text-white px-3 py-2 rounded-md text-md font-bold">SOP
              Problems</a>
            <a href="/2.5D"
              class="text-gray-300 hover:bg-gray-500 hover:text-white px-3 py-2 rounded-md text-md font-bold">2.5D
              Problems</a>
          </div>
        </div>
      </div>
    </nav>


    <div class="bg-gray-800 pt-20">

      <h1 class="text-3xl font-bold text-center text-blue-100 mb-2">
        Click2Hear: Interactive Spatial Audio Separation and Localization using
        Visual Cues
      </h1>
      <div class="flex flex-col items-center text-gray-200">
        <p class="text-lg">
          <a href="https://avinash6.web.illinois.edu/">Avinash Subramaniam*</a>, <a href="https://debottam-dutta7.github.io/">Debottam Dutta*</a>, <a href="https://achaitanya.web.illinois.edu/">Chaitanya Amballa*</a>
        </p>
        <p class="text-lg">
          Dept. of Electrical and Computer Engineering
        </p>
        <p class="text-lg">
          <span class="font-bold">
            University of Illinois at Urbana-Champaign
          </span>
        </p>
        <p class="text-sm italic self-end mr-5">* = Equal contribution</p>
      </div>
    </div>

    <div class="flex flex-col items-center justify-center">
      <div class="max-w-5xl">
      <div class="mt-8">
        <h2 class="text-xl font-bold">Abstract:</h2>
        <p class="mt-2 text-black">
          We present Click2Hear, an interactive system that utilizes visual cues to perform spatial audio separation and localization. Audio source seperation (also known as cocktail party problem) is a well studied problem in the field of audio signal processing. 
          However, most of the existing methods either require the number of sources be known beforehand or only work for a relatively small number of sources. In most of the real world scenarios, humans can also have a sense of localizing the sound with the help of visual information they capture.
          This visial information helps in both seperating and localizing sources at the same time. 
          In addition to helping with audio source separation, 
          visual information aslo can give a sense of the spatial location of the audio source. 
          Existing methods (cite SOP and 2.5D) deal with the problem of audio source separation and localization separately or require sequential processing to do both the tasks. 
          In this work, we propose a novel method to use visual cues to perform both audio source separation and localization both at the same time. We introduce a new framework '
          We finally evaluate our proposed method on the FAIR-Play dataset and show that our method outperforms the state-of-the-art methods both qualitatively and quantitatively.
        </p>
      </div>
      
      <div class="mt-8">
        <h2 class="text-xl font-bold mb-5">Demo:</h2>
        <div class="flex flex-wrap mt-2">
          <div class="w-full md:w-1/2 px-4">
            <video id="video-player-1" crossorigin>
              <source src="{{ url_for('static',
                                        filename='videos/2.5d/000196/000196.mp4') }}" type="video/mp4">
            </video>
            <div id="waveform-original-1"></div>
          </div>
          <div class="w-full md:w-1/2 px-4">
            <video id="video-player-2" crossorigin>
              <source src="{{ url_for('static',
                                          filename='videos/2.5d/000196/000196.mp4') }}" type="video/mp4">
            </video>
            <div id="waveform-original-2"></div>
          </div>
        </div>
      </div>

      <div class="mt-8">
        <h2 class="text-xl font-bold">Resources:</h2>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mt-2 text-black">
          <a href="https://github.com/click2hear"
            class="bg-gray-400 hover:bg-gray-500 text-white font-bold py-2 px-4 rounded text-center">Link to code on GitHub</a>
          <a href=""
            class="bg-green-400 hover:bg-green-500 text-white font-bold py-2 px-4 rounded text-center">Link to research paper</a>
          <a href=""
            class="bg-yellow-400 hover:bg-yellow-500 text-white font-bold py-2 px-4 rounded text-center">Link to resource 3</a>
        </div>
      </div>
      <div class="mt-8">
        <h2 class="text-xl font-bold">References:</h2>
        <ol class="mt-2 text-black">
          <li>[insert reference 1 here]</li>
          <li>[insert reference 2 here]</li>
          <li>[insert reference 3 here]</li>
        </ol>
      </div>
      <div class="mt-8">
        <p class="text-black">&copy; 2023 Avinash Subramaniam, Chaitanya Amballa, Debottam Dutta. University of Illinois at
          Urbana-Champaign. All rights reserved.</p>
      </div>
    </div>
    </div>


    <script src="https://unpkg.com/wavesurfer.js"></script>
    <script src="https://unpkg.com/wavesurfer.js/dist/plugin/wavesurfer.spectrogram.min.js"></script>
    <script>
      // createWaveformAndSpectrogramForVideo("1", "/static/videos/sample.mp4");
      createWaveformForVideo("1", "/static/videos/2.5d/000196/000196.mp4");
      createWaveformForVideo("2", "/static/videos/sample.mp4");
      // createWaveformAndSpectrogramForVideo('1', '/static/videos/2.5d/000196/mixed_mono.wav');
      // createWaveformAndSpectrogramForVideo('2', '/static/videos/2.5d/000196/mixed_mono.wav');
        // createWaveformAndSpectrogram('original-1', '/static/videos/2.5d/000196/mixed_mono.wav');
        // createWaveformAndSpectrogram('original-2', '/static/videos/2.5d/000196/mixed_mono.wav');
        // Create WaveSurfer instance with MediaElement backend
          // var wavesurfer = WaveSurfer.create({
          //   container: document.querySelector('#waveform-original-1'),
          //   waveColor: '#A8DBA8',
          //   progressColor: '#3B8686',
          //   backend: 'MediaElement'
          // });

          // // Load audio from existing video element
          // var videoElt = document.querySelector('#video-player-1');
          // wavesurfer.load(videoElt);

          // // Create another WaveSurfer instance with MediaElement backend
          //   var wavesurfer2 = WaveSurfer.create({
          //     container: document.querySelector('#waveform-original-2'),
          //     waveColor: '#A8DBA8',
          //     progressColor: '#3B8686',
          //     backend: 'MediaElement'
          //   });

          //   // Load audio from another existing video element
          //   var videoElt2 = document.querySelector('#video-player-2');
          //   wavesurfer2.load(videoElt2);
    </script>
    
    <script>
      const video1 = document.getElementById('video-player-1');
      video1.muted = true;
        let isPlaying = false;

        video1.addEventListener('click', () => {
          if (isPlaying) {
            video1.pause();
            isPlaying = false;
          } else {
            video1.play();
            isPlaying = true;
          }
        });

        const video2 = document.getElementById('video-player-2');
        video2.muted = true;
        let isPlaying2 = false;

        video2.addEventListener('click', () => {
          if (isPlaying2) {
            video2.pause();
            isPlaying2 = false;
          } else {
            video2.play();
            isPlaying2 = true;
          }
          const x = event.offsetX;
          const y = event.offsetY;
          console.log(`Clicked on pixel (${x}, ${y})`);
        });
    </script>


  </body>
</html>
