<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Click2Hear</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <script type="text/javascript" src="{{ url_for('static', filename='js/plyr.js') }}"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.plyr.io/3.7.8/plyr.js"></script>
    <!-- <link rel="stylesheet" href="https://unpkg.com/wavesurfer.js/dist/wavesurfer.min.css"> -->
    <script src="https://unpkg.com/wavesurfer.js/dist/wavesurfer.min.js"></script>
  </head>
  <body>
    
    <nav class="bg-gray-500" style="position: fixed; top: 0; width: 100%; z-index: 100;">
      <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
        <div class="relative flex items-center justify-between h-16">
          <div class="absolute inset-y-0 left-0 flex items-center">
            <a href="/"
              class="text-gray-300 hover:bg-gray-500 hover:text-white px-3 py-2 rounded-md text-md font-bold">Home</a>
          </div>
          <div class="absolute inset-y-0 right-0 flex items-center">
            <a href="/SOP"
              class="text-gray-300 hover:bg-gray-500 hover:text-white px-3 py-2 rounded-md text-md font-bold">SOP
              Problems</a>
            <a href="/2.5D"
              class="text-gray-300 hover:bg-gray-500 hover:text-white px-3 py-2 rounded-md text-md font-bold">2.5D
              Problems</a>
          </div>
        </div>
      </div>
    </nav>


    <div class="bg-gray-800 pt-20">

      <h1 class="text-3xl font-bold text-center text-blue-100 mb-2">
        Click2Hear: Interactive Spatial Audio Separation and Localization using
        Visual Cues
      </h1>
      <div class="flex flex-col items-center text-gray-200">
        <p class="text-lg">
          <a href="https://avinash6.web.illinois.edu/">Avinash Subramaniam*</a>, <a href="https://debottam-dutta7.github.io/">Debottam Dutta*</a>, <a href="https://achaitanya.web.illinois.edu/">Chaitanya Amballa*</a>
        </p>
        <p class="text-lg">
          Dept. of Electrical and Computer Engineering
        </p>
        <p class="text-lg">
          <span class="font-bold">
            University of Illinois at Urbana-Champaign
          </span>
        </p>
        <p class="text-sm italic self-end mr-5">* = Equal contribution</p>
      </div>
    </div>

    <div class="flex flex-col items-center justify-center">
      <div class="max-w-6xl">
      <div class="mt-8">
        <h2 class="text-xl font-bold">Abstract:</h2>
        <p class="mt-2 text-black">
          We present Click2Hear, an interactive system that utilizes visual cues to generate binaural audio from a video with mono
          audio and at the same time performs spatial audio separation and sound source localization.
          We present Click2Hear, an interactive system that utilizes visual cues to generate binaural audio from a video with mono
          audio and at the same time performs spatial audio separation and sound source localization.
          Mono audios lack spatial information in itself to localize or separate sources without any external information such as
          speaker identity and visual cues. Without any speaker or prior source information, most of the existing methods utilize
          visual information present in the video frames to achieve these tasks.
          These methods take inspiration from the real world that, humans also have a sense of localizing the sound with the help
          of visual information they capture. This visual information helps in both separating and localizing sources at the same
          time. In addition to helping with audio source separation, visual information also can give a sense of the spatial
          location of the audio source.
          Existing audio-visual methods attempt these tasks separately or require sequential processing to do both tasks. We
          investigate the generalizability of a popular existing method in localizing and separating mono sound mixtures to more
          realistic scenarios by conducting several experiments. Then, we propose a unified framework that does both of the
          aforementioned tasks with the additional task of binauralization in one shot. Our experiments show promising results
          towards achieving this task.
        </p>
      </div>


      <div class="my-8">
        <div class="w-full">
          <h2 class="text-xl font-bold mb-5 ml-2">Proposed Architecture:</h2>
            <img class="mx-auto" src="/static/files/arch.jpg" alt="Neural Net Architecture">
        </div>
      </div>



      
      <!-- SOP on MUSIC -->
      <div class="mt-8">
        <h2 class="text-xl font-bold mb-5">Demo:</h2>
        <h2 class="text-xl text-center text-gray-500 font-bold mb-5 ">SOP on MUSIC</h2>
        <div class="flex flex-wrap mt-2">
          <div class="w-full md:w-1/2 px-4">
            <h3 class="text-lg text-center font-bold">Original</h3>
            <p class="text-center font-bold text-red-800">Click on the video to play/pause the correspoding audio associated with it. You can change time by clicking on the waveform</p>
            <video id="video-player-1" width="640" height="160"  crossorigin>
              <source src="{{ url_for('static',
                                        filename='files/guitar+violin/small.mp4') }}" type="video/mp4">
            </video>
            <div id="waveform-original-1"></div>
          </div>
          <div class="w-full md:w-1/2 px-4">
            <h3 class="text-lg text-center font-bold">Pixelwise Audio</h3>
            <p class="text-center font-bold text-red-800">Click on any pixel to play the correspoding audio associated with
              it. You can change time by clicking on the waveform</p>
            <video id="video-player-2"  width="640" height="160" crossorigin> 
              <source src="{{ url_for('static',
                                          filename='files/guitar+violin/small.mp4') }}" type="video/mp4">
            </video>
            <div id="waveform-original-2"></div>
            <div id="highlight"></div>
          </div>
        </div>


        <!-- SOP on Fairplay -->
        <h2 class="text-xl text-center text-gray-500 font-bold mb-5 ">SiSLoc (on FAIR-Play)</h2>
        <div class="flex flex-wrap mt-2">
          <div class="w-full md:w-1/2 px-4">
            <h3 class="text-lg text-center font-bold">Original</h3>
            <p class="text-center font-bold text-red-800">Click on the video to play/pause the correspoding audio associated
              with it. You can change time by clicking on the waveform</p>
            <video id="video-player-3" width="640" height="160" crossorigin>
              <source src="{{ url_for('static',
                                                filename='files/001471/small.mp4') }}" type="video/mp4">
            </video>
            <div id="waveform-original-3"></div>
          </div>
          <div class="w-full md:w-1/2 px-4">
            <h3 class="text-lg text-center font-bold">Pixelwise Audio</h3>
            <p class="text-center font-bold text-red-800">Click on any pixel to play the correspoding audio associated with
              it. You can change time by clicking on the waveform</p>
            <video id="video-player-4" width="640" height="160" crossorigin>
              <source src="{{ url_for('static',
                                                  filename='files/001471/small.mp4') }}" type="video/mp4">
            </video>
            <div id="waveform-original-4"></div>
            <div id="highlight"></div>
          </div>
        </div>

        <!-- Mono to Binaural -->
        <h2 class="text-xl text-center text-gray-500 font-bold mb-5 ">Mono2Binaural</h2>
        <div class="flex flex-wrap mt-2">
          <div class="w-full md:w-1/2 px-4">
            <h3 class="text-lg text-center font-bold">Mono Audio</h3>
            <p class="text-center font-bold text-red-800">Click on the video to play/pause the correspoding audio associated
              with it. You can change time by clicking on the waveform</p>
            <video id="video-player-5" width="640" height="160" crossorigin>
              <source src="{{ url_for('static',
                                                        filename='files/mono2binaural/original.mp4') }}" type="video/mp4">
            </video>
            <div id="waveform-original-5"></div>
          </div>
          <div class="w-full md:w-1/2 px-4">
            <h3 class="text-lg text-center font-bold">Predicted Binaural Audio</h3>
            <p class="text-center font-bold text-red-800">Click on the video to play/pause the correspoding audio associated
            with it. You can change time by clicking on the waveform</p>
            <video id="video-player-6" width="640" height="160" crossorigin>
              <source src="{{ url_for('static',
                                                          filename='files/mono2binaural/original.mp4') }}" type="video/mp4">
            </video>
            <div id="waveform-original-6"></div>
            <div id="highlight"></div>
          </div>
        </div>

        <!-- Our method -->
        <h2 class="text-xl text-center text-gray-500 font-bold mb-5 ">SiBSLoc</h2>
        <div class="flex flex-wrap mt-2">
          <div class="w-full md:w-1/2 px-4">
            <h3 class="text-lg text-center font-bold">Original</h3>
            <p class="text-center font-bold text-red-800">Click on the video to play/pause the correspoding audio associated
              with it. You can change time by clicking on the waveform</p>
            <video id="video-player-7" width="640" height="160" crossorigin>
              <source src="{{ url_for('static',
                                                                filename='files/001851/original.mp4') }}" type="video/mp4">
            </video>
            <div id="waveform-original-7"></div>
          </div>
          <div class="w-full md:w-1/2 px-4">
            <h3 class="text-lg text-center font-bold">Pixelwise Seperated + Binaural</h3>
            <p class="text-center font-bold text-red-800">Click on any pixel to play the correspoding audio associated with
              it. You can change time by clicking on the waveform</p>
            <video id="video-player-8" width="640" height="160" crossorigin>
              <source src="{{ url_for('static',
                                                                  filename='files/001851/original.mp4') }}" type="video/mp4">
            </video>
            <div id="waveform-original-8"></div>
            <div id="highlight"></div>
          </div>
        </div>

      </div>

      <div class="mt-8">
        <h2 class="text-xl font-bold">Resources:</h2>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mt-2 text-black">
          <a href="https://github.com/click2hear"
            class="bg-gray-400 hover:bg-gray-500 text-white font-bold py-2 px-4 rounded text-center">Link to code on GitHub</a>
          <a href=""
            class="bg-green-400 hover:bg-green-500 text-white font-bold py-2 px-4 rounded text-center">Link to research paper</a>
          <a href=""
            class="bg-yellow-400 hover:bg-yellow-500 text-white font-bold py-2 px-4 rounded text-center">Link to resource 3</a>
        </div>
      </div>
      <div class="mt-8">
        <h2 class="text-xl font-bold">References:</h2>
        <ol class="mt-2 text-black list-decimal pl-5">
          <li>
            <a href="https://arxiv.org/abs/1804.03160" class="text-blue-600 hover:text-blue-800 font-bold">The Sound of
              Pixels</a>
            <br>
            Hang Zhao, Chuang Gan, Andrew Rouditchenko, Carl Vondrick, Josh McDermott, Antonio Torralba
          </li>
          <li class="mt-4">
            <a href="http://www.cs.utexas.edu/~grauman/papers/CVPR19_2.5d-visual-sound.pdf"
              class="text-blue-600 hover:text-blue-800 font-bold">2.5D Visual Sound</a>
            <br>
            Ruohan Gao, Kristen Grauman
          </li>
        </ol>
      </div>

      <div class="mt-8">
        <p class="text-black text-center">&copy; 2023 Avinash Subramaniam, Debottam Dutta, Chaitanya Amballa. University of Illinois at
          Urbana-Champaign. All rights reserved.</p>
      </div>
    </div>
    </div>


    <script src="https://unpkg.com/wavesurfer.js"></script>
    <script src="https://unpkg.com/wavesurfer.js/dist/plugin/wavesurfer.spectrogram.min.js"></script>
    <script>
      createWaveformForVideo("1", "static/files/guitar+violin/wav/small.wav");
    </script>
    <script>
        createWaveformForVideo("3", "static/files/001471/wav/small.wav");
    </script>
    <script>
      createWaveformForVideo("5", "static/files/mono2binaural/wav/mixed_mono_converted.wav");
    </script>
    <script>
      createWaveformForVideo("7", "static/files/001851/wav/original.wav");
    </script>
    <script>
        let wavesurfer_2 = null;
        interactiveDemo('2', 'guitar+violin', 14, wavesurfer_2);
    </script>
    <script>
      let wavesurfer_4 = null;
      interactiveDemo('4', '001471', 14, wavesurfer_4);
    </script>
    <script>
        createWaveformForVideo("6", "static/files/mono2binaural/wav/predicted_binaural_converted.wav");
    </script>
    <script>
      let wavesurfer_8 = null;
      interactiveDemo('8', '001851', 14, wavesurfer_8);
    </script>


  </body>
</html>
